<a href="/profile">profile</a>
<h1>Home page</h1>
<div class="d-flex flex-row justify-content-around">
  {{#each blogs}}
    <div class="d-flex flex-row">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">{{title}}</h3>
          <p class="card-text">{{body}}</p>
          <div class="card-body">
            <hr />
            <p class="card-text">posted by: {{User.username}}</p>
          <p class="card-text">posted: {{createdAt}}</p>
          </div>
        </div>
        <hr>
        {{#each Comments}}
          <p class="card-text">commented by: {{User.username}}</p>
          <p class="card-text">{{commentBody}}</p>
          <hr>
        {{/each}}
        <form>
          <div class="form-group form-floating">
            <label for="comments">Write a comment</label>
            <input
              name="comment"
              type="text"
              class="form-control comment-boxes"
              id="comments"
              aria-describedby="commentHelp"
              placeholder="Enter Comment"
            />
            <small id="commentHelp" class="form-text text-muted">let em know how
              you feel</small>
          </div>
          <button type="submit" class="btn btn-primary comment-button" id={{id}}>Submit</button>
        </form>
      </div>
    </div>
  {{/each}}
</div>
<script src="js/comment.js"></script>